.books_table {
 width: 50%;
 text-align: left;
 border-collapse: collapse;
 border-spacing: 0;
 border-radius:10px;
 margin:0 auto;
 margin-top: 100px;
 margin-bottom: 100px;
}

.books_table th{
  padding: 10px;
  background: rgba(66,50,50,0.06);
  padding: 13px;
  border: solid 1px #B9B9B9;
  color: #545454;
  font-size: 18px;
}

.books_table td{
  text-align: left;
  vertical-align: top;
  background: #FFFFFF;
  border: solid 1px #B9B9B9;
  padding: 13px;
  font-size: 15px;
}

.books_table td:nth-child(1){
  width: 60%;
}

.books_table td:nth-child(1) .book_title_contents{
  display: flex;
  align-items: center;
}

.books_table td:nth-child(1) .book_title_contents span{
  display: inline-block;
  margin-left:10px;
}

.books_table td .stockcount{
  display: inline-block;
  width: 50px;
  text-align: center;
}

.books_table td img{
  margin: 8px 2px 0 2px;
  height: auto;
}
.books_table td img:hover{
  cursor: pointer;
  opacity: 0.6;
}
.books_table td .edit_icon{
  width:23px;
}
.books_table td .trash_icon{
  width:19px;
}

.books_table td a{
  color: #0018ee;
}
.books_table {
 width: 60%;
 border-collapse: collapse;
 margin-top: 20px;
 border: 1px solid #B9B9B9;
}
.books_table th,
/* 表のタイトル部分 */
.books_table td{
  /* 表部分 */
  border:1pxsolid pink;
  padding: 8px 12px;
  text-align: left;
  background-color:rgb(248, 250, 249);
}
.books_table th{
 background-color:rgb(196, 199, 199);
 font-weight:bold;
}
.btn_register {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8ae0b5;
  color: rgb(32, 31, 31);
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  }

  .popup{
  display: none;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #d4edda;
   color: #155724;
   padding: 20px 30px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0,0,0,0.3);
   font-size: 18px;
   z-index: 9999;
  }

                   

books_table